*{
    margin: 0;
}
.game{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/background2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.content{
    padding-left: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5em;
}
.colorsTitle{
    font-size: 6em;
    color: #d4d4b1;
    text-align: center;
}
.colorSelection{
    display: grid;
    grid-template-columns: (4,1fr);
    grid-template-rows: (2,1fr);
    grid-column-gap: 0.5em;
    grid-row-gap: 1em;
}

.colorSelected1{
    grid-area: 1 / 1 / 2 / 2;
    width: 6em;
    height: 6em;
    border: 0.1em solid white;
}
.colorSelected2{
    grid-area: 1 / 2 / 2 / 3;
    width: 6em;
    height: 6em;
    border: 0.1em solid white;
}
.colorSelected3{
    grid-area: 1 / 3 / 2 / 4;
    width: 6em;
    height: 6em;
    border: 0.1em solid white;
}
.colorSelected4{
    grid-area: 1 / 4 / 2 / 5;
    width: 6em;
    height: 6em;
    border: 0.1em solid white;
}
.colorAdd1{
    grid-area: 2 / 1 / 3 / 2;
}
.colorAdd2{
    grid-area: 2 / 2 / 3 / 3;
}
.colorAdd3{
    grid-area: 2 / 3 / 3 / 4;
}
.colorAdd4{
    grid-area: 2 / 4 / 3 / 5;
}

.buttonPlay{
    padding: 0.4em;
    font-size: 1.9em;
    border:0.3em solid #d4d4b1;
    color: #d4d4b1;
    text-decoration: none;
}
.buttonPlay:hover{
    cursor: pointer;
    background-color: #d4d4b1;
    color: black;
}

@media(max-width: 768px){
    .colorsTitle{
        font-size: 3em;
    }
    .buttons{
        gap: 1.75em;
    }
    .buttonPlay{
        padding: 0.2em;
        font-size: 0.9em;
    }
    .colorSelection{
        display: grid;
        grid-template-columns: (2,1fr);
        grid-template-rows: (4,1fr);
        grid-column-gap: 0.5em;
        grid-row-gap: 1em;
    }
    .colorSelected1{
        grid-area: 1 / 1 / 2 / 2;
        width: 4em;
        height: 4em;
        border: 0.1em solid white;
    }
    .colorSelected2{
        grid-area: 2 / 1 / 3 / 2;
        width: 4em;
        height: 4em;
        border: 0.1em solid white;
    }
    .colorSelected3{
        grid-area: 3 / 1 / 4 / 2;
        width: 4em;
        height: 4em;
        border: 0.1em solid white;
    }
    .colorSelected4{
        grid-area: 4 / 1 / 5 / 2;
        width: 4em;
        height: 4em;
        border: 0.1em solid white;
    }
    .colorAdd1{
        grid-area: 1 / 2 / 2 / 3;
    }
    .colorAdd2{
        grid-area: 2 / 2 / 3 / 3;
    }
    .colorAdd3{
        grid-area: 3 / 2 / 4 / 3;
    }
    .colorAdd4{
        grid-area: 4 / 2 / 5 / 3;
    }


}