*{
    margin: 0;
}
.game{
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url(../img/background2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.content{
    padding-left: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

#colors{
    display: flex;
    justify-content: space-between;
    gap: 0.5em;
}
.buttonColorSelected{
    width: 1em;
    height: 1em;
}
#buttonsCheckDeleted{
    display: flex; 
    gap: 0.2em;
}

.buttonFunction{
    padding: 0.4em;
    font-size: 0.3em;
    border:0.3em solid #d4d4b1;
    color: #d4d4b1;
}
.buttonFunction:hover{
    cursor: pointer;
    background-color: #d4d4b1;
    color: black;
}